.rbq_individual_answer_outer_container {
  overflow: hidden;
  border-bottom: 1px solid #f4f4f4;
  border-left: 1px solid #f4f4f4;
  border-right: 1px solid #f4f4f4;
  border: 1px solid #f4f4f4;
  max-height: none;
  background: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgb(173 168 168 / 10%);
  box-shadow: 0 1px 1px rgb(173 168 168 / 10%);
  transition: box-shadow 0.25s ease, -webkit-box-shadow 0.25s ease,
    opacity 0.5s ease;

  p {
    transform: scale(1);
    transition: transform 0.1s cubic-bezier(0.64, 0.57, 0.67, 1.53),
      opacity 0.5s ease;
  }

  &.rbq_answer_row_arrangement {
    border-bottom: none;
    border-left: none;
    border-right: none;
    border: 1px solid #f4f4f4;
    max-height: 55px;
    transition: transform 0.2s cubic-bezier(0, 0.73, 0.31, 1.67),
      opacity 0.5s ease;
  }

  img {
    transition: all 0.2s cubic-bezier(0.64, 0.57, 0.67, 1.53);
  }

  &:hover {
    pointer-events: all;
    box-shadow: 0px 0px 1px 3px rgb(173 168 168 / 10%);
    -webkit-box-shadow: 0px 0px 1px 3px rgb(173 168 168 / 10%);

    &.rbq_results_available {
      pointer-events: none;
      box-shadow: 0 1px 1px rgb(173 168 168 / 10%);
      -webkit-box-shadow: 0 1px 1px rgb(173 168 168 / 10%);
    }

    cursor: pointer;

    &.rbq_question_answered {
      cursor: pointer;

      &.rbq_answer_selected {
        cursor: auto;
      }
    }

    img {
      transform: scale(1.1);
      transition: transform 0.2s cubic-bezier(0.64, 0.57, 0.67, 1.53),
        opacity 0.5s ease;
    }

    &.rbq_question_answered img {
      transform: scale(1.1);
    }

    &.rbq_question_answered.rbq_answer_selected img {
      transform: scale(1);
    }

    &.rbq_answer_selected img,
    &.rbq_results_available img {
      transform: scale(1);
    }

    @media (min-width: 900px) {
      p {
        transform: scale(1.05);
      }

      &.rbq_question_answered p {
        transform: scale(1.05);
      }

      &.rbq_answer_row_arrangement p {
        transform: scale(1.01);
      }

      &.rbq_answer_selected p,
      &.rbq_results_available p {
        transform: scale(1);
      }
    }

    p {
      transition: transform 0.1s cubic-bezier(0.64, 0.57, 0.67, 1.53),
        opacity 0.5s ease;
    }

    &.rbq_answer_row_arrangement p {
      transition: transform 0.2s cubic-bezier(0, 0.73, 0.31, 1.67),
        opacity 0.5s ease;
    }

    &.rbq_results_available {
      * {
        opacity: 1;
      }
    }
  }
}
