.rbq_answers_container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0.5rem 0.5rem;

  &.rbq_more_than_9_answers {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  &.rbq_3_answers {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  &.rbq_answer_grid_layout {
    grid-gap: 0.75rem 0.75rem;
  }

  &.rbq_answers_contain_images {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
    grid-gap: 0.5rem 0.5rem;
  }

  &.rbq_answer_row_arrangement {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
