.rbq_question_adjacent_text {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1.125rem;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 0.5rem;

  @media (min-width: 40rem) {
    font-size: 1.375rem;
    line-height: 1.27;
  }
}
