.rbq_result_inner_description_header {
    font-weight: 700;
    margin-bottom: 0.25em;
    font-size: 1rem;
    @media (min-width: 40rem) {
        font-size: 1.125rem;
        line-height: 1.2;
    }
}