.rbq_share_button {
  appearance: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  width: 2rem;
  padding: 0.5rem;
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;

  svg {
    pointer-events: none;
    display: block;
    width: 14px;
    height: 14px;
  }

  &:hover {
    background: #fff;

    > svg {
      fill: #e40c78;
    }
  }
}
