.rbq_result_inner_description_header {
  font-weight: 700;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
  @media (min-width: 40rem) {
    font-size: 1.375rem;
    line-height: 1.2;
  }
}
