.rbq_result_inner_image_container {
  position: relative;
  display: block;
  font-style: italic;
  border-radius: 0;
  @media (min-width: 40rem) {
    margin: 0 1.5rem 1.5rem;
    border-radius: 3px;
    overflow: hidden;
  }
}
