.rbq_result_inner_image {
  width: 100%;
  object-fit: cover;
  object-position: center 40%;
  display: block;

  @media (min-width: 40rem) {
    height: 100%;
    max-width: 100%;
    max-height: 350px;
  }
}
