.rbq_tooltip_container {
  box-sizing: inherit;
  font-family: inherit;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeout {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  animation: fadein 0.2s ease;

  &.rbq_tooltip_animating_out {
    animation: fadeout 0.5s ease;
  }

  svg {
    margin-right: 0.4rem;
    width: 20px;
    height: 20px;
  }

  p {
    font-size: 0.8rem;
    padding-left: 0.25rem;
  }

  > div::after {
    content: "";
    border-top-color: #222;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -0.5875rem;
    border-width: 0.5875rem;
    border-style: solid;
    border-color: #222 transparent transparent transparent;
  }
}
