/** =================== Proxima Nova =================== **/

/** Proxima Nova Regular **/
@font-face {
  font-family: "Proxima Nova";
  font-weight: 400;
  font-style: normal;
  src: url("./Proxima_Nova_Regular.ttf") format("truetype");
  font-display: swap;
}

/** Proxima Nova SemiBold **/
@font-face {
  font-family: "Proxima Nova";
  font-weight: 600;
  font-style: normal;
  src: url("./Proxima_Nova_Semibold.ttf") format("truetype");
  font-display: swap;
}

/** Proxima Nova Bold **/
@font-face {
  font-family: "Proxima Nova";
  font-weight: 700;
  font-style: normal;
  src: url("./Proxima_Nova_Bold.ttf") format("truetype");
  font-display: swap;
}

/** Proxima Nova Black **/
@font-face {
  font-family: "Proxima Nova";
  font-weight: 900;
  font-style: normal;
  src: url("./Proxima_Nova_Black.ttf") format("truetype");
  font-display: swap;
}
